In [ ]:
pip list

In [ ]:
pip install --upgrade

In [ ]:
pip install --upgrade pip

<HI>

<HI>

# learning python
## list

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1]

List items can store data type(int, string, boolean, tuple, list)

In [ ]:
# comma separated items enclosed in square brackets
#zero base indexed list
#mutable obkects
#slicable

In [ ]:
x = [1,2,3,4,5]
x

In [ ]:
type(x)

In [ ]:
len(x)

In [ ]:
x[0]

In [ ]:
x[10] #out of range

In [ ]:
#double the list
x = x + x
x

In [ ]:
len(x)

In [ ]:
#indexing, right side is given -1 
#example
x[-1]

In [ ]:
x[1]

In [ ]:
x[-4]

In [ ]:
#list objects are mutable - 1 at 0 indexed replaced by 10
##only list and disctionaries are mutable
x[0] = 10
x

In [ ]:
#To get subset of list (gives upto last index but last index value is not included)
x[0:4]

In [ ]:
x[4:8]

In [ ]:
y = x[4:8]
y

In [ ]:
type(y)

In [ ]:
a = [1,2,3,5]

In [ ]:
a

In [ ]:
a = a + [a[1] + 1] #Playing with existing list a[1] = 2, to it 1 is added in the end of list
a

In [ ]:
#updating the list to empty
a = []
a

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
#To assign variables to the list

x = [1,2,3,4]
a,b,c,d = x

In [ ]:
x

In [ ]:
a

In [ ]:
b,c,d

In [ ]:
#RANGE FUNCTION (start stop step)

#default --> start =0, step =1

#Parameter	Description
#start	Optional. An integer number specifying at which position to start. Default is 0
#stop	Required. An integer number specifying at which position to stop (not included).
#step	Optional. An integer number specifying the incrementation. Default is 1

x = range(10)
x

In [ ]:
x1 = list(x)
x1

In [ ]:
x = range(5,15)
x

In [ ]:
x1 = list(x) #step =1
x1

In [ ]:
x = range(5,15,2) #step = 2
x
x1 = list(x)
x1

# list object method 

append, index, insert, remove, sort, pop, reverse, clear, del

In [ ]:
x = [1,2,3,3,4]
x.append(5)

In [ ]:
x

In [ ]:
x.index(1)

In [ ]:
x[1]

In [ ]:
x.insert(0,5) #at 0 index 5 is inserted

In [ ]:
x

In [ ]:
x.remove(1)

In [ ]:
x

In [ ]:
x.sort()

In [ ]:
x

In [ ]:
x.pop(3) #take out element from the list at index 3

In [ ]:
x.reverse()

In [ ]:
x

In [ ]:
x.clear() #cleared the list --> made list empty

In [ ]:
x

In [ ]:
x = ['z','a',1,2,3]

In [ ]:
del(x) #delete the full list

In [ ]:
x

In [ ]:
y = ['z','a',1,2,3]

In [ ]:
del(y[0]) #to delete item from the list at 0 index

In [ ]:
y

In [ ]:
#List as stacks and queues
x1 = [1,2,3,4]
x2 = [5,6,7,8]
x = x1+x2
x

In [ ]:
x.append(10)
x.append(11)
x.append(12)
x

In [ ]:
x.pop()

In [ ]:
x.pop(9)

# List comprehensions

In [ ]:
s = []

for i in range(5):
    s.append(i)
print(s)

In [ ]:
s = []

for i in range(5):
    s.append(i)
    print(s)

In [ ]:
#find square from 1 to 10

sq = []
for x in range(10):
    sq.append(x**2)
print(sq)

In [ ]:
#find even numbers
for i in range(10):
    if i % 2 == 0:
         print(i)

In [ ]:
#Print even numbers from sq list.
for i in sq:
    if i%2 == 0:
        print(i)

In [ ]:
#Take input from user to print even numbers

start = int(input("Give start range :"))
end = int(input("Give end range :"))

In [ ]:
for i in range(start,end):
    if i % 2 == 0:
        print(i)

In [ ]:
for i in range(start,end):
    if i % 2 == 0:
        print(i, end = " ")

In [ ]:
s = []
for i in range(start,end):
    if i % 2 == 0:
        s.append(i)
        print(s)

In [ ]:
s = []
for i in range(start,end):
    if i % 2 == 0:
        s.append(i)
print(s)

In [ ]:
##Code in one line: comprehensive
sq2 = [ x ** 2 for x in range(10)]
sq2

In [ ]:
a = [1,2,3,4]

for x in range(len(a)):
    print(x)

In [ ]:
a = [1,2,3,4]
z = []
for x in a:
    z.append(x)
print(z)

In [ ]:
#Make two list and make another list with their combination
a = [1,2,3,4]
b = [5,2,7,8]
c = []
for i in a:
    for p in b:
        if (i != p):
            c.append( (i, p))
print(c)

In [ ]:
#in one line code

c2 = [(x,y) for x in a for y in b if x != y ]
c2

# Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable(immutable).

Tuples are written with or without round brackets/ parathesis.

In [ ]:
t = tuple()
t

In [ ]:
t = 1,2,3,4
t

In [ ]:
t = (1,2,3,4)
t

In [ ]:
t[0]

In [ ]:
t[3]

In [ ]:
t=t+t+t+t
t

In [ ]:
t[4:9]

In [ ]:
#tuple within tuple
t1= 1,2,3,6
t2= 7,8,9,0
t = t1+t2
t

In [ ]:
t1= 1,2,3,6
t2= 7,8,9,0
t = t1,t2
t

In [ ]:
id(t1)

In [ ]:
t1 = ('d',1,2,3)

In [ ]:
t1

In [ ]:
id(t1)

In [ ]:
l = [1,2,3,'r']
l

In [ ]:
id(l)

In [ ]:
l = [[1,2], 'e', 1, 4]

In [ ]:
l

In [ ]:
id(l)

# SETS

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are written with curly brackets.

In [ ]:
s = {}

In [ ]:
type(s)

In [ ]:
s = set()

In [ ]:
type(s)

In [ ]:
s = {1,2,3}

In [ ]:
type(s)

In [ ]:
len(s)

In [ ]:
s[0] #set cannot be indexed

In [ ]:
s = set('akjhjsudhiudhiu')

In [ ]:
s

In [ ]:
l = list('jhgdgdgdu')

In [ ]:
l

In [ ]:
str = "agcagcagcatgcgavgav"

In [ ]:
str[1]

In [ ]:
l.append('z')

In [ ]:
l

In [ ]:
s.append('z') #will not work

In [ ]:
#conversion of list to sets

l = [1,7,3,4,4,5,8]
s = set(l)
s

In [ ]:
type(l)

In [ ]:
type(s)

In [ ]:
'a' in s

In [ ]:
1 in s

In [ ]:
'g' in str

In [ ]:
1 in l

In [ ]:
stats = {"pval", "chisq", "adjP", "FDR", "stats", "X"}
model = {"linear reg", "coloc", "bernauli", "stats", "X"}
stats, model

In [ ]:
stats - model #unique elements of stats

In [ ]:
model - stats #unique elements of model

In [ ]:
model | stats #all elements excluding duplication

In [ ]:
model ^ stats #Unique elements of both set

In [ ]:
stats & model

In [ ]:
#assign variable to all the elements 

maje = {'a', 'b', 'c'}
maje
g,z,u = maje

In [ ]:
maje

In [ ]:
g

In [ ]:
z

In [ ]:
g,z,u

In [ ]:
o = [1,2,3]
a,s,d = o

In [ ]:
o

In [ ]:
a

In [ ]:
a,s,d

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [ ]:
scores = {}

In [ ]:
type(scores)

In [ ]:
scores = {"Nat" : 98, "Sat" : 90, "Mat" : 89, "Wat" : 94}

In [ ]:
scores

In [ ]:
len(scores)

In [ ]:
scores["Nat"]

In [ ]:
del scores["Nat"]

In [ ]:
scores

In [ ]:
len(scores)

In [ ]:
list(scores)

In [ ]:
scores.keys()

In [ ]:
scores.values()

In [ ]:
scores

In [ ]:
list(scores.keys())

In [ ]:
sorted(scores.keys())

In [ ]:
#tuple to list to dictionary

marks = dict([("Shah", 98),("Tyagi", 95),("Sharma",76),("Lee", 89)])
marks

In [ ]:
m = {[("Shah", 98),("Tyagi", 95),("Sharma",76),("Lee", 89)]}
m

In [ ]:
k = [("lol", 98),("Tyi", 95),("Sha",76),("sam", 89)]
k

In [ ]:
type(k)

In [ ]:
type(marks)

In [ ]:
#using loop to print keys from dictionaries
for x in marks:
    print(x)

In [ ]:
for x in marks:
    print(marks[x])

In [ ]:
for x in marks.values():
    print(x)

In [ ]:
for x in marks.keys():
    print(x)

In [ ]:
dic = {"a" : 1, "b" : 2, "c" : 3, "d" : 4}
dic

In [ ]:
for i in dic.values():
    print(i**2)

In [ ]:
for i in marks.values():
    i = i+2
    if (i >= 90):
        print(i)

In [1]:
song = {
    "title": "We Are the Champions",
    "album": "News of the World",
    "artist": "Queen",
    "genre": "Arena rock",
    "release year": "1977",
    "length": "2.59",
    "length (seconds)": "179",
    "songwriter": "Freddie Mercury",
    "producers": "Queen, Mike \"Clay\" Stone"
}

In [2]:
for key in song:
    print("{0:s}: \"{1:s}\"".format(key.capitalize(), song[key]))

Title: "We Are the Champions"
Album: "News of the World"
Artist: "Queen"
Genre: "Arena rock"
Release year: "1977"
Length: "2.59"
Length (seconds): "179"
Songwriter: "Freddie Mercury"
Producers: "Queen, Mike "Clay" Stone"

In [3]:
print("{}, A computer science portal for geeks."
      .format("GeeksforGeeks"))

GeeksforGeeks, A computer science portal for geeks.

In [4]:
print("{}, x".format("u"))

u, x

In [18]:
str = "This article is written in {}"
print(str.format("Python"))

This article is written in Python

In [19]:
s = "Why are you {}"
print(s.format("happy"))

Why are you happy

In [24]:
print("{}". format("Hi"))

Hi

In [40]:
my_string = "{}, is a {} science portal for {}"
 
print(my_string.format("GeeksforGeeks", "computer", "geeks"))

GeeksforGeeks, is a computer science portal for geeks

In [42]:
print("Watch it fly by\\as the pendulum swings")

Watch it fly by\as the pendulum swings

In [44]:
print("It doesn\'t even matter how hard you try")

It doesn't even matter how hard you try

In [47]:
print('\a')



In [51]:
print('Time is a \nvaluable thing')

Time is a
valuable thing

In [61]:
print("%30s" % ('geeksforgeeks', ))
print("%50s" % ('Interngeeks', ))
print("%5s" % ('Interngeeks', ))

                 geeksforgeeks
                                       Interngeeks
Interngeeks

In [71]:
a = 2

In [72]:
a ^ 2

0

In [73]:
a ^ 3

1

In [74]:
a ^ 4

6

In [76]:
def unorganized(a, b):
    for i in range(a, b):
        print(i, i**2, i**3, i**4)

In [77]:
def organized(a, b):
    for i in range(a, b):
        print("{:6d} {:6d} {:6d} {:6d}"
              .format(i, i ** 2, i ** 3, i ** 4))

In [78]:
n1 = int(input("Enter lower range :-\n"))
n2 = int(input("Enter upper range :-\n"))

Enter lower range :-
2
Enter upper range :-
8

In [79]:
print("------Before Using Formatters-------")

------Before Using Formatters-------

In [80]:
unorganized(n1, n2)

2 4 8 16
3 9 27 81
4 16 64 256
5 25 125 625
6 36 216 1296
7 49 343 2401

In [81]:
print("-------After Using Formatters---------")

-------After Using Formatters---------

In [82]:
organized(n1, n2)

     2      4      8     16
     3      9     27     81
     4     16     64    256
     5     25    125    625
     6     36    216   1296
     7     49    343   2401

In [97]:
for i in range(3):
        print("{:4d} {:4d} {:4d} {:4d}"
              .format(i, i+1, i+2, i+3))

   0    1    2    3
   1    2    3    4
   2    3    4    5

In [103]:
print ("%.6d\n%6d",1,1)

%.6d
%6d 1 1

In [120]:
var = {"A" : 1, 
       "B" : 2, 
       "C" :3,
       "D" : 4}

In [128]:
for i in range(2):
    print("{}".format( var))

{'A': 1, 'B': 2, 'C': 3, 'D': 4}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}